.asd {
    font-size: 14px;
    color: rgb(117, 117, 117) !important;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5%;
    
}

a:hover {
    background-color:#d4d4d4;
    border-radius: 100px;
    
    
}
